In [1]:
import pandas as pd

df = pd.read_csv("/dtu/projects/02613_2025/data/dmi/2023_01.csv.zip")

In [2]:
df.head()

,coordsx,coordsy,created,observed,parameterId,stationId,value
0,9.7875,56.1496,2023-07-07T21:57:06.803045Z,2023-01-17T23:59:00Z,precip_past1min,5185,0.0
1,8.1465,56.5032,2023-07-07T21:57:44.125851Z,2023-01-17T23:59:00Z,precip_past1min,5296,0.0
2,9.2877,57.0143,2023-07-07T21:56:34.840129Z,2023-01-17T23:59:00Z,precip_past1min,5085,0.0
3,8.6652,54.9872,2023-07-07T21:58:08.833412Z,2023-01-17T23:59:00Z,precip_past1min,5355,0.0
4,12.0981,55.2076,2023-07-07T21:59:11.626531Z,2023-01-17T23:59:00Z,precip_past1min,5889,0.0

In [3]:
def summarize_columns(df):
	print(pd.DataFrame([
	    (
	        c,
	        df[c].dtype,
	        len(df[c].unique()),
	        df[c].memory_usage(deep=True) // (1024**2)
	    ) for c in df.columns
	], columns=['name', 'dtype', 'unique', 'size (MB)']))
	print('Total size:', df.memory_usage(deep=True).sum() / 1024**2, 'MB')

          name    dtype   unique  size (MB)
0      coordsx  float64      224         62
1      coordsy  float64      219         62
2      created   object  8142495        652
3     observed   object    44640        597
4  parameterId   object       47        546
5    stationId    int64      247         62
6        value  float64    11532         62
Total size: 2045.0958003997803 MB

In [4]:
def reduce_dmi_df(df):
    df["created"] = pd.to_datetime(df["created"], format='ISO8601')
    df["observed"] = pd.to_datetime(df["observed"], format='ISO8601')
    df["parameterId"] = df["parameterId"].astype("category")
    df["stationId"] = df["stationId"].astype("int16")
    return df

In [5]:
df_small = reduce_dmi_df(df.copy())

summarize_columns(df_small)

          name                dtype   unique  size (MB)
0      coordsx              float64      224         62
1      coordsy              float64      219         62
2      created  datetime64[ns, UTC]  8142495         62
3     observed  datetime64[ns, UTC]    44640         62
4  parameterId             category       47          7
5    stationId                int16      247         15
6        value              float64    11532         62
Total size: 333.9117660522461 MB